#addButton{
    font-size: 5em;
    color:white;
}
#addButton:hover{
    color:black;
}
body{

}
#cardContainer{
    background-image: url("TreeBase.jpg");
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10% 10% 0 0;
    display:grid;
    height:100vh;
    overflow: auto;
    padding:1%;
    width:100vw;
    margin-top:2%;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
}
.card{
    border: 1px solid rgb(250, 244, 228);
    background-color: rgba(0,100,0,0.5);
    border-radius: 5%;
    height:50vh;
    grid-column: span 1;
    margin-bottom:5px;
}
.cardAdd{
    border: 1px solid rgb(0,0,0);
    background-color: rgba(78,91,49,.95);
    border-radius: 5%;
    height:50vh;
    grid-column: span 1;
    align-content: center;
    text-align: center;
    padding-top:30%;
    margin-bottom:5px;
}
.close{
    margin-left:95%;
}
.close:hover{
    color:white;
}
.form-signin{
    background-color:rgba(78,91,49,.95);
}
#globalBG{
    background-image: linear-gradient(#32481b, white);
    height:90vh
}
h1{
    font-family: 'Bungee Spice';
    text-align: center;
}
.hidden{
    display:none;
}
#loginPage{
    background-image: url("TreeBase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:orangered;
}
#logout{
    background-image: url("gameover.jpg");
    background-size: cover;
}
.menu{
    display:grid;
    grid-template-columns:  14% 14% 14% 14% 14% 14% 14% ;
}
.menuItem{ 
    grid-column: span 1;
    background-color: #32481b;
    text-align: center;
    font-family: 'Bungee Spice';
    padding: 10%;
    text-decoration: none;
}
.menuItem:hover{
    transform:translateY(-3px);
}
#mDropDownBody{
    text-decoration: none;
    list-style-type: none;
    display:none;
}
#mDropDownHeader{
    list-style-type: none;
}
#mDropDownBody, .menuItem a{
    text-decoration: none;
}
#mDropDownHeader:hover #mDropDownBody{
    display: inline-block;
    list-style-type: none;
}
.menuTitle{
    grid-column: span 3;
    font-family: 'Bungee Spice';
    text-align: center;
    background-color: #32481b;

}
.menuEdgeLeft{
    border-radius: 30px 0 0 30px;
}
.menuEdgeRight{
    border-radius: 0 30px 30px 0;
}
#menu ul {
    background-color: rgba(78, 91, 49, .95);
    list-style: none;
    color: orangered;
    width: 100px;
}
#menu a{
    color:orangered;
}
#signupPage{
    background-image: url("TreeBase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:orangered;
    justify-content: center;
}
#signupPage form{
    background-color: rgba(255, 69, 0 , 0.7);
    align-content: center;
    width:250px;
    border-radius:30px;
}
#signupPage h2{
    background-color: rgba(50,72,27,0.9);
}
#signupPage #submitButton{
    background-color: #32481b;
    border-color:black;
}
#signupPage form > *{
    margin-left: 10%;
}
.todo{
    color:orangered;
    font-weight: bolder;
}
.tracker{
    color:orangered;
    font-weight:bolder;
}